<div (click)="closeResourcesSubmenu($event)" class="position-relative w-100 h-100">
  <!-- MOVIL -->
  <div class="position-relative movil-list">
    <div class="container">
      <div class="row">
        <div class="col-12 row">
          <div class="col-12">
            <div class="col-12 d-flex justify-content-center">
              <img class="icon-lists" src="assets/icons/MENU_FUNCIONALIDADES.svg">
              <div class="mt-2 title-list">FUNCIONALIDADES</div>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <ul class="no-decoration">
                <li>
                  <a href="{{contalinkLandingUrl}}/modulos/descarga-automatica-documentos" target="_blank" queryParamsHandling="merge"
                    (click)="hardCloseProductSubmenu()">
                    Descarga automática de Opiniones de Cumplimiento
                  </a>
                </li>
                <li>
                  <a href="{{contalinkLandingUrl}}/modulos/descarga-automatica-documentos" target="_blank" queryParamsHandling="merge"
                    (click)="hardCloseProductSubmenu()">
                    Descarga automática de Constancias de Situación Fiscal
                  </a>
                </li>
                <li>
                  <a href="{{contalinkLandingUrl}}/modulos/carga-xml" target="_blank" queryParamsHandling="merge" (click)="hardCloseProductSubmenu()">
                    Descarga y administración CFDIs
                  </a>
                </li>
                <li>
                  <a href="{{contalinkLandingUrl}}/modulos/automatizacion-cobros" target="_blank" queryParamsHandling="merge"
                    (click)="hardCloseProductSubmenu()">
                    Automatización cobros-pagos y conciliación
                  </a>
                </li>
                <li>
                  <a href="{{contalinkLandingUrl}}/modulos/reportes-de-impuestos" target="_blank" queryParamsHandling="merge"
                    (click)="hardCloseProductSubmenu()">
                    Impuestos
                  </a>
                </li>
                <li>
                  <a href="{{contalinkLandingUrl}}/modulos/nomina" target="_blank" queryParamsHandling="merge" (click)="hardCloseProductSubmenu()">
                    Nómina
                  </a>
                </li>
                <li>
                  <a href="{{contalinkLandingUrl}}/modulos/reportes" target="_blank" queryParamsHandling="merge" (click)="hardCloseProductSubmenu()">
                    Reportes
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 row">
          <div class="col-6">
            <div class="col-12 d-flex justify-content-center">
              <img class="icon-lists" src="assets/icons/MENU_CONOCE.svg">
              <div class="mt-2 title-list">SEGURIDAD</div>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <ul class="no-decoration">
                <li>
                  <a href="{{contalinkLandingUrl}}/actualizaciones" target="_blank" queryParamsHandling="merge" (click)="hardCloseProductSubmenu()">
                    Actualizaciones
                  </a>
                </li>
                <li>
                  <a href="{{contalinkLandingUrl}}/seguridad" target="_blank" queryParamsHandling="merge" (click)="hardCloseProductSubmenu()">
                    Seguridad
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6">
            <div class="col-12 d-flex justify-content-center">
              <img class="icon-lists" src="assets/icons/MENU_COMPARATIVA.svg">
              <div class="mt-2 title-list">COMPARATIVA</div>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <ul class="no-decoration">
                <li>
                  <a href="{{contalinkLandingUrl}}/contalink-vs-contpaq-aspel" target="_blank" queryParamsHandling="merge"
                    (click)="hardCloseProductSubmenu()">
                    Contalink vs. Contpaq* y Aspel*
                  </a>
                </li>
                <li>
                  <a href="{{contalinkLandingUrl}}/migrar-contpaq" target="_blank" queryParamsHandling="merge" (click)="hardCloseProductSubmenu()">
                    Migración desde Contpaq*
                  </a>
                </li>
                <li>
                  <a href="{{contalinkLandingUrl}}/gestionix" target="_blank" queryParamsHandling="merge" (click)="hardCloseProductSubmenu()">
                    Alternativa a Gestionix
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PC -->
  <div class="main-container position-relative laptop-list">
    <div class="row container list-container">
      <div class="col-lg-6 col-12 container border-middle">
        <!-- FUNCIONALIDADES -->
        <div class="row col-12">
          <div class="col-lg-2 col-12">
            <img class="icon-lists" src="assets/icons/MENU_FUNCIONALIDADES.svg">
          </div>
          <div class="col-lg-10 col-12 container-fluid">
            <div class="align-items-center d-flex mt-3 mb-3 title-list">FUNCIONALIDADES</div>
            <ul class="no-decoration">
              <li>
                <a href="{{contalinkLandingUrl}}/modulos/descarga-automatica-documentos" target="_blank" queryParamsHandling="merge"
                  (click)="hardCloseProductSubmenu()">
                  Descarga automática de Opiniones de Cumplimiento
                </a>
              </li>
              <li>
                <a href="{{contalinkLandingUrl}}/modulos/descarga-automatica-documentos" target="_blank" queryParamsHandling="merge"
                  (click)="hardCloseProductSubmenu()">
                  Descarga automática de Constancias de Situación Fiscal
                </a>
              </li>
              <li>
                <a href="{{contalinkLandingUrl}}/modulos/carga-xml" target="_blank" queryParamsHandling="merge" (click)="hardCloseProductSubmenu()">
                  Descarga y administración CFDIs
                </a>
              </li>
              <li>
                <a href="{{contalinkLandingUrl}}/modulos/automatizacion-cobros" target="_blank" queryParamsHandling="merge"
                  (click)="hardCloseProductSubmenu()">
                  Automatización cobros-pagos y conciliación
                </a>
              </li>
              <li>
                <a href="{{contalinkLandingUrl}}/modulos/reportes-de-impuestos" target="_blank" queryParamsHandling="merge"
                  (click)="hardCloseProductSubmenu()">
                  Impuestos
                </a>
              </li>
              <li>
                <a href="{{contalinkLandingUrl}}/modulos/nomina" target="_blank" queryParamsHandling="merge" (click)="hardCloseProductSubmenu()">
                  Nómina
                </a>
              </li>
              <li>
                <a href="{{contalinkLandingUrl}}/modulos/reportes" target="_blank" queryParamsHandling="merge" (click)="hardCloseProductSubmenu()">
                  Reportes
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- SEGURIDAD -->
      <div class="col-lg-6 container">
        <div class="row col-12">
          <div class="col-lg-2">
            <img class="icon-lists" src="assets/icons/MENU_SEGURIDAD.svg">
          </div>
          <div class="col-lg-10 container-fluid">
            <div class="align-items-center d-flex mt-3 mb-3 title-list">SEGURIDAD</div>
            <ul class="no-decoration">
              <li>
                <a href="{{contalinkLandingUrl}}/actualizaciones" target="_blank" queryParamsHandling="merge"
                  class="btn btn-link pl-0 block font-light text-left" (click)="hardCloseProductSubmenu()">
                  Actualizaciones
                </a>
              </li>
              <li>
                <a href="{{contalinkLandingUrl}}/seguridad" target="_blank" queryParamsHandling="merge"
                  class="btn btn-link pl-0 block font-light text-left" (click)="hardCloseProductSubmenu()">
                  Seguridad
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- COMPARATIVA -->
        <div class="row col-12">
          <div class="col-lg-2">
            <img class="icon-lists" src="assets/icons/MENU_COMPARATIVA.svg">
          </div>
          <div class="col-lg-10 container-fluid">
            <div class="align-items-center d-flex mt-3 mb-3 title-list">COMPARATIVA</div>
            <ul class="no-decoration">
              <li>
                <a href="{{contalinkLandingUrl}}/contalink-vs-contpaq-aspel" target="_blank" queryParamsHandling="merge"
                  class="btn btn-link pl-0 block font-light text-left" (click)="hardCloseProductSubmenu()">
                  Contalink vs. Contpaq* y Aspel*
                </a>
              </li>
              <li>
                <a href="{{contalinkLandingUrl}}/migrar-contpaq" target="_blank" queryParamsHandling="merge"
                  class="btn btn-link pl-0 block font-light text-left" (click)="hardCloseProductSubmenu()">
                  Migración desde Contpaq*
                </a>
              </li>
              <li>
                <a href="{{contalinkLandingUrl}}/gestionix" target="_blank" queryParamsHandling="merge"
                  class="btn btn-link pl-0 block font-light text-left" (click)="hardCloseProductSubmenu()">
                  Alternativa a Gestionix
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>