<div class="card" style="border: none; background: transparent;">
  <p-carousel 
    [value]="carouselImages" 
    [numVisible]="3" [numScroll]="1" 
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="5000"
    [circular]="true">
    <ng-template let-product pTemplate="item">
      <div class="ml-2 p-3 card-carousel-image">
        <div class="mb-5 font-medium">
          {{ product.name }}
        </div>
        <div class="flex justify-content-between align-items-center
           carousel-description">
          <span>
            “Los mejores cursos y capacitaciones
             del mejor sistema, Contalink. ¡Gracias!”
          </span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>