<div class="card" style="border: none; background: transparent;">
  <p-carousel 
    [value]="carouselImages" 
    [numVisible]="3" [numScroll]="1" 
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="5000"
    [circular]="true">
    <ng-template let-carousel pTemplate="item">
      <div class="ml-2 p-3 card-carousel-image position-relative">
        <div class="gradient-card" [ngClass]="getCardClass(carousel.id)"></div>
        <div class="mb-5 font-medium">
          {{ carousel.description }}
        </div>
        <div class="flex justify-content-center align-items-center
           carousel-description row">
          <span>
           {{ carousel.name }}
          </span>
        </div>
        <div class="like-icon row d-flex justify-content-center align-self-end">
          <img class="" src="assets/images/like_logo.svg" alt="">
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>