# Dependencias de Node.js
node_modules/

# Logs de dependencias
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entornos de producción y configuración de entorno
.env
.env.*.local

# Directorio de salida al compilar el proyecto
/dist/
/out-tsc
/tmp

# Archivos de dependencia del administrador de paquetes
package-lock.json
yarn.lock

# Editor de código
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

