<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="margin-right: 3.5em;">
            <img src="assets/images/icon.png" alt="contalink" class="log-contalink-nabvar" style="width: 50px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="container-fluid row">
                <div class="col-lg-2 offset-1 col-12 justify-content-center d-flex">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown" (mouseenter)="openDropdownResources()"
                            (mouseleave)="closeDropdownResources()">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"
                                [ngClass]="{ 'sky-blue-color': isDropdownOpenResources }">
                                RECURSOS
                            </a>
                            <div class="dropdown-menu dropdown-menu-resources"
                                [ngClass]="{ 'show': isDropdownOpenResources }" aria-labelledby="navbarDropdown">
                                <app-resources-submenu></app-resources-submenu>
                            </div>
                        </li>
                        <li class="nav-item dropdown" (mouseenter)="openDropdownProducts()"
                            (mouseleave)="closeDropdownProducts()">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"
                                [ngClass]="{ 'sky-blue-color': isDropdownOpenProducts }">
                                PRODUCTO
                            </a>
                            <div class="dropdown-menu dropdown-menu-products"
                                [ngClass]="{ 'show': isDropdownOpenProducts }" aria-labelledby="navbarDropdown">
                                <app-product-submenu></app-product-submenu>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="{{contalinkLandingUrl}}/testimonios">
                                TESTIMONIOS
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="offset-lg-3 col-lg-6 col-12 justify-content-center d-flex buttons-container">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="{{contalinkLandingUrl}}/precios">
                                PRECIOS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://app.contalink.com/">
                                INGRESAR
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="{{contalinkLandingUrl}}/contacto"><button class="info-button btn">
                                INFO
                            </button></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://signup.contalink.com"><button class="contratar-button btn ">
                                CONTRATA AHORA
                            </button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>