.navbar-size {
    height: 4em;
}

.log-contalink-nabvar {
    height: 2.5em;
    width: 3em;
    margin-left: 2%;
}

.sky-blue-color {
    color: rgb(17 239 249);
}

.navbar {
    height: 4em;
    background-color: white;
}

.nav-item {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: .5em;
}

.nav-item:hover {
    /* background-color: blue; */
    /* background: #11EFF9CC; */
    background-color: rgba(17, 164, 249, 0.05);
}

.nav-link:hover {
    color: rgb(17 239 249);
}

.navbar-nav {
    font-size: 13px;
    font-weight: 600;
    font-family: Manrope;
    font-weight: 600;
}

.info-button {
    height: 50px;
    width: 90px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 2em;
    border: solid 2px;
    border-radius: 100px;
}

.info-button:hover {
    background-color: rgb(243, 243, 243);
}

.contratar-button {
    height: 50px;
    width: 200px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 2em;
    border: solid 2px;
    border-radius: 100px;
    background-color: #2761AD;
    color: white;
}

.contratar-button:hover {
    filter: brightness(1.2);
}

@media (max-width: 767px) {
    .info-button {
        height: 40px;
        width: 80px;
        left: 2em;
        position: relative;
    }

    .contratar-button {
        height: 50px;
        width: 120px;
        left: 1em;
        position: relative;
    }

    .buttons-container {
        margin-left: .5em;
    }

    .navbar {
        background-color: white;
    }

    #navbarNav {
        margin-top: -.3em;
        background-color: white;
    }
}

/* animacion del dropwdown */

.dropdown-menu {
    border: solid 2px;
    border-color: rgb(17 239 249);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
    border-radius: 40px;
}

.dropdown-menu-mobile {
    border: solid 2px;
    border-color: rgb(17 239 249);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
    border-radius: 40px;
}

.dropdown-menu-resources {
    width: 45em;
    height: 24em;
}

.dropdown-menu-products {
    width: 65em;
    height: 26em;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 767px) {
    .dropdown-menu-resources {
        width: 20em;
        height: 24em;
    }

    .dropdown-menu-products {
        width: 20em;
        height: 36em;
    }
}