<div class="main-home">
    <div class="container" style="position: relative;">
        <div class="gradient-sky-blue"></div>

        <div class="row">
            <div class="col-5 col-lg-2 offset-3 offset-lg-0
                col-md-5 offset-md-4 mt-5">
                <img src="assets/images/tag_academia_blue.svg" alt="">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-lg-9 welcome-academy-text h6">
                <div class="col-lg-12">
                    Bienvenido a
                </div>
                <div id="academy-space"></div>
                <div class="col-lg-12">
                    Academia
                    <img src="assets/images/contalink.svg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 description-academy-text h6">
                Conviértete en un experto usando Contalink,
            </div>
            <div class="col-12 col-lg-9 description-academy-text h6">
                experimenta y aprende sobre las operaciones del sistema.
            </div>
        </div>
        <div class="row mt-5">
            <div class="signup-button signup-brackground-sky-blue
                 col-lg-2 offset-lg-0
                 col-md-2 offset-md-4
                 col-2 offset-3 d-flex justify-content-center 
                 align-items-center" (click)="scrollToForm()">
                <span>
                    <a (click)="scrollToForm()">
                        Inscribirme
                    </a>
                    &nbsp;
                    <img src="assets/images/arrow.svg" alt="">
                </span>
            </div>
        </div>
    </div>
    <!-- <div class="gradient-sky-blue" style="height: 300px;"></div> -->
    
    <div class="container position-relative margin-spacing-300">
        <!-- <div class="gradient-sky-blue-video"></div> -->
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-5 mb-5">
                <div class="col-12 title-text-second-container">
                    Acceso 
                    <span>gratuito</span> 
                    a todas las funciones de Contalink con empresas simuladas.
                </div>
                <br>
                <div class="col-12 col-lg-11 description-text-second-container">
                    Podrás capacitarte sobres las funciones del sistema: configuraciones, flujo contable, reportes y
                    mucho más.
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-7 
                d-flex justify-content-center">
                <div class="button-video" (click)="clickToPlayAndPause()">
                    <video #videoPlayer width="100" height="100" controls (play)="onPlay()" (pause)="onPause()"
                    [attr.controls]="isPlaying ? true : null">
                        <source src="assets/videos/academia_contalink.mp4" type="video/mp4">
                        Tu navegador no soporta el video.
                        <!-- <source src="https://contalink-files.s3.amazonaws.com/assets/videos/academia_contalink.mp4"
                            type="video/mp4"> -->
                      </video>
                    <div class="circle-video-button" *ngIf="!isPlaying">
                        <div class="triangle-button"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container margin-spacing-150 position-relative">
        <!-- <div class="background-blue"></div> -->
        <div class="container col-12 row mt-5 position-relative" style="left: 1em;">
            <div class="h1 d-flex justify-content-center mb-1">
                <span class="cursos-text-title mt-5">Cursos</span>
            </div>
            <div class="h5 d-flex justify-content-center">
                <span class="cursos-text-description">
                    Sesiones online en vivo 1hr, vía Zoom con ejercicios prácticos en el sistema
                </span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="mt-5 col-lg-5 col-sm-12 col-md-12 col-xs-12 container" style="z-index: 1;">
                    <div class="course-cards position-relative">
                        <div class="gradient-circle-yellow"></div>
                        <div class="d-flex justify-content-end">
                            <div class="mt-5 cards-tag d-flex" style="background-color: #FFD241;">
                                <span class="container d-flex align-items-center ">
                                    CUPO LIMITADO
                                </span>
                            </div>
                        </div>
                        <div class="row container cards-title">
                            <div class="mt-3 d-flex">
                                <div class="col-lg-10 offset-2">
                                    <span class="cards-description">
                                        {{firstCourseInfo?.courseName}}
                                    </span><br>
                                </div>
                            </div>
                            <div class="card-sesions">
                                <div class="col-lg-10 offset-2">
                                    <span class="cards-notes">
                                        {{firstCourseInfo?.sessionsNumber}} sesiones
                                    </span><br>
                                </div>
                            </div>
                            <div class="initial-date mt-3">
                                <div class="col-lg-10 offset-2">
                                    <span>
                                        Fecha de inicio: 
                                        {{formatInitialDate(firstCourseInfo?.initialDate)}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 position-relative">
                            <div class="row offset-2">
                                <div class="col-1 d-flex align-items-center icons-opacity">
                                    <img src="assets/images/icon_zoom.svg" alt="">
                                </div>
                                <div class="col-lg-3 col-4 icons-opacity">
                                    <div class="time-circle">
                                        <img src="assets/images/icon_clock.svg" alt="">
                                        <span>{{firstCourseInfo?.duration}}</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-5 icons-opacity position-absolute icons-calendar">
                                    <div class="time-circle">
                                        <img src="assets/images/icon_calendar.svg" alt="">
                                        <span>{{firstCourseInfo?.preiodicity}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-end mt-5" style="right: 2em; position: relative;">
                            <div class="signup-button signup-brackground-yellow
                                 col-lg-2 offset-lg-0
                                 col-md-2 offset-md-4
                                 col-2 offset-3 d-flex justify-content-center 
                                 align-items-center"
                                 (click)="goToCourseForm(firstCourseInfo?.id)">
                                <span>
                                    <a (click)="goToCourseForm(SecondCourseInfo?.id)">
                                        Inscribirme
                                    </a>
                                    &nbsp;
                                    <img src="assets/images/arrow_black.svg" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5 col-lg-5 col-sm-12 col-md-12 col-xs-12 container" style="z-index: 1;">
                    <div class="course-cards position-relative">
                        <div class="gradient-circle-blue"></div>
                        <div class="d-flex justify-content-end">
                            <div class="mt-5 cards-tag d-flex justify-content-center align-items-center"
                                style="background-color: #2761AD;">
                                <span class="container align-items-center" style="color: white;">
                                    CUPO LIMITADO
                                </span>
                            </div>
                        </div>
                        <div class="row container cards-title">
                            <div class="mt-3 d-flex">
                                <div class="col-lg-10 offset-2">
                                    <span class="cards-description">
                                        {{SecondCourseInfo?.courseName}}
                                    </span><br>
                                </div>
                            </div>
                            <div class="card-sesions">
                                <div class="col-lg-10 offset-2">
                                    <span class="cards-notes">
                                        {{SecondCourseInfo?.sessionsNumber}} sesiones
                                    </span><br>
                                </div>
                            </div>
                            <div class="initial-date mt-3">
                                <div class="col-lg-10 offset-2">
                                    <span>
                                        Fecha de inicio: {{formatInitialDate(SecondCourseInfo?.initialDate)}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 position-relative">
                            <div class="row offset-2">
                                <div class="col-1 d-flex align-items-center icons-opacity">
                                    <img src="assets/images/icon_zoom.svg" alt="">
                                </div>
                                <div class="col-lg-3 col-4 icons-opacity">
                                    <div class="time-circle">
                                        <img src="assets/images/icon_clock.svg" alt="">
                                        <span>{{SecondCourseInfo?.duration}}</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-5 icons-opacity position-absolute icons-calendar">
                                    <div class="time-circle">
                                        <img src="assets/images/icon_calendar.svg" alt="">
                                        <span>{{SecondCourseInfo?.preiodicity}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end mt-5" style="right: 2em; position: relative;">
                            <div class="signup-button signup-brackground-blue
                                 col-lg-2 offset-lg-0
                                 col-md-2 offset-md-4
                                 col-2 offset-3 d-flex justify-content-center 
                                 align-items-center"
                                 (click)="goToCourseForm(SecondCourseInfo?.id)">
                                <span>
                                    <a (click)="goToCourseForm(SecondCourseInfo?.id)">
                                        Inscribirme
                                    </a>
                                    &nbsp;
                                    <img src="assets/images/arrow_black.svg" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ESTE ES EL SEGUNDO CEL CERTIFICADO -->
    <div class="second-gradiante"></div>
    <div class="container margin-spacing-200 position-relative">
        <div class="certificate-gradiante"></div>
        <div class="certificate-card">
            <div class="row">
                <div class="conatiner row content-certificate-card ">
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-4 mt-5">
                        <div class="col-12 title-text-certificate" style="margin-top: 4%;">
                            Obten un <span>Certificado</span> de Participación.
                        </div>
                        <br>
                        <div class="col-12 col-lg-11 title-second-text-certificate">
                            Al concluir cada curso obtendrás un certificado que te acredita como experto en el uso de
                            Contalink.
                        </div>
                        <br>
                        <div class="col-1 mt-1">
                            <img class="linkedin-logo" src="assets/images/linkedin_logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-7" style="margin-left: 4.4%;">
                        <img id="certificate-image" src="assets/images/certificate.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container position-relative mt-5">
        <div class="row margin-spacing-200">
            <div class="col-12 d-flex justify-content-center
                 align-items-center">
                <h6 class="experiences-title mt-5">Experiencias</h6>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <app-carousel-image></app-carousel-image>
            </div>
        </div>
    </div>
    
    <div class="form-container position-relative row margin-spacing-200" id="formRegister">
        <!-- <div class="gradient-form"></div> -->
        <div class="row col-12 mt-5 ">
            <div class="col-lg-8 offset-lg-1 col-12 mt-5">
                <div class="col-lg-8 col-12">
                    <span class="title-form-container">
                        ¿Eres profesor o formas parte de una institución educativa?
                    </span>
                </div>
                <div class="col-lg-10 col-12 mt-5">
                    <span class="text-white text-center-form">
                        Accede gratis a Academia Contalink para ti y tus alumnos. Realiza practicas en un sistema
                        innovador.
                    </span>
                </div>
                <div class="col-lg-10 col-12 mt-3">
                    <span class="text-white text-center-form">
                        Solicita más información y nos pondremos en contacto contigo. </span>
                </div>
                <!-- FORM -->
                <div class="col-lg-10 col-12 mt-5" [formGroup]="contactForm">
                    <div class="row mb-3 mt-3">
                        <span class="register">Registro</span>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 mb-3 contact-information-text">
                            <span class="text-white">Información de Contacto</span>
                        </div>
                        <div class="col-12 col-lg-10 form-group input-container">
                            <label for="" class="label-input">Nombre*</label>
                            <input type="text" class="form-control center-input" required
                                formControlName="name">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-7 col-lg-6 form-group input-container">
                            <label for="" class="label-input">Correo*</label>
                            <input type="email" class="form-control center-input"
                            id="email" formControlName="email" name="email">
                        </div>
                        <div class="col-lg-4 col-5 form-group input-container">
                            <label for="" class="label-input">Celular*</label>
                            <input type="number" class="form-control center-input"
                            id="phone" formControlName="phone" name="phone">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 form-check">
                            <input type="checkbox" style="left: 1em;" class="form-check-input position-relative" id="" checked formControlName="emailPromotional">
                            <label class="form-check-label text-white" style="font-size: 13px;">
                                &nbsp; &nbsp; Acepto recibir correos electrónicos de comunicados y promociones.
                            </label>
                        </div>
                    </div>
                    <div class="row conatiner col-12 mt-3">
                        <div class="col-12 col-lg-5 send-button-container">
                            <button type="button" class="btn send-button"
                                [disabled]="contactForm.invalid"
                                (click)="saveForm()">
                                Enviar 
                                <img src="assets/images/arrow_black.svg" style="width: 20px;">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 mt-5 mb-5" id="last-form">
                <div class="row col-12 position-relative" >
                    <!-- <hr class="transformed"> -->
                    <div class="col-7" style="border-right: solid 1px white;">
                        <div class="col-10">
                            <span class="text-mex-education">Transformemos</span>
                            <span class="text-mex-education">juntos la Educación</span>
                            <span class="text-mex-education">Contable en México.</span>
                        </div>
                    </div>
                    <div class="col-5 d-flex justify-content-center position-relative">
                        <img src="assets/images/tag_contalink_white.svg" class="white-img">
                    </div>
                </div>
            </div>
        </div>
        <div class="gradient-sky-blue-container"></div>
    </div>
</div>